<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Rate Type</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/static/super/images/favicon.png">
        <link href="/static/super/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">
        <link href="/static/super/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/super/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/custom.css" rel="stylesheet" type="text/css">
    </head>

    <body class="dark-sidenav">
        <div class="left-sidenav">
            {% include 'super/base/left_sidebar.html' %}
        </div>
        

        <div class="page-wrapper">
            <div class="topbar">            
                {% include 'super/base/top_nav.html' %}
        </div>


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">
                        <div class="col">
                            <h4 class="page-title">Rate Type</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/super/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item active">Rate Type</li>
                            </ol>
                        </div>
                        <div class="col-auto align-self-center">
                            <a href="/super/rate-type-add" class="btn btn-primary">                                           
                                <i data-feather="plus" class="align-self-center icon-xs ml-1"></i>&nbsp; Add New
                            </a>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success border-0" role="alert">{{message}}   
        </div>
        {% endfor %}
        {%endif%}
 
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
    <tr>  
        <th>SN</th>
        <th>ID</th>
        <th>Rate Name</th> 
        <th>Date</th> 
        <th>Actions</th>  
        
        
        
    </tr>  
    </thead>  
    <tbody>  
{% for rate in ratetype %}  
    <tr>  
        <td>{{forloop.counter}}</td>
        <td>{{rate.id}}</td>
        <td>{{rate.ratetype_name }}</td>  
        <td>{{rate.created_at}}7</td>  
        <td class="text-left">                                                       
            <a href="/super/rate-type-edit/{{ rate.id }}"><i class="las la-pen text-info font-18"></i></a>
            <a href="/super/rate-type-delete/{{ rate.id }}" onclick="return DelItem();"  ><i class="las la-trash-alt text-danger font-18"></i></a>
        </td>
        
        
    </tr>  
{% endfor %}  
    </tbody>  
</table>
</div>
</div>
</div>
</div>
</div>
{% include 'super/base/footer.html'%}
</div> 

<script src="/static/super/js/jquery.min.js"></script>
<script src="/static/super/js/bootstrap.bundle.min.js"></script>
<script src="/static/super/js/metismenu.min.js"></script>
<script src="/static/super/js/waves.js"></script>
<script src="/static/super/js/feather.min.js"></script>
<script src="/static/super/js/simplebar.min.js"></script>
<script src="/static/super/js/jquery-ui.min.js"></script>
<script src="/static/super/js/moment.js"></script>
<script src="/static/super/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/super/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/super/plugins/datatables/dataTables.bootstrap4.min.js"></script>



<script>



    function DelItem() {
  
  
  
        if(!confirm("Are You Sure to delete this"))
  
  
  
        event.preventDefault();
  
  
  
    }
  
  
</script>

<script src="/static/super/js/app.js"></script>   
<script>
    $('#datatable').DataTable();
</script>
</body>

</html> 
  