<div class="row"> 
                    <table class="table table-striped">                     
                        <tbody>
                          <tr>
                            <th scope="row">Rental</th>
                            <td>{{bookings.rental}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Channel</th>
                            <td>{{bookings.channel}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Booking Type</th>
                            <td>{{bookings.booking_type}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Name</th>
                            <td>{{bookings.first_name}} {{bookings.last_name}}</td>
                          </tr>
                        
                          <tr>
                            <th scope="row">Email</th>
                            <td>{{bookings.email}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Phone</th>
                            <td>{{bookings.phone}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Address</th>
                            <td>{{bookings.address}}</td>
                          </tr>
                          <tr>
                            <th scope="row">City</th>
                            <td>{{bookings.city}}</td>
                          </tr>
                          <tr>
                            <th scope="row">State</th>
                            <td>{{bookings.state}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Country</th>
                            <td>{{bookings.country}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Zip Code</th>
                            <td>{{bookings.postal_code}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Check In</th>
                            <td>{{bookings.check_in}}</td>
                          </tr>
                          <tr>
                            <th scope="row">Check Out</th>
                            <td>{{bookings.check_out}}</td>
                          </tr>
                        </tbody>
                      </table>
</div>
   
           