<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Reservation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="shortcut icon" href="/static/users/images/favicon.png">

<link href="/static/users/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/static/users/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="/static/users/css/custom.css" rel="stylesheet" type="text/css" />

                                

    </head>

    <body data-layout="horizontal">
        <div id="layout-wrapper">
            {% include 'users/base/header.html'%}
       
		<div class="main-content">
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Reservation</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/users/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Reservation</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">  
                            <label for="example-text-input" class="col-form-label customer_lable">CUSTOMER</label> 
                            <div class="col-sm-12">Jeff Jack</div>
                          </div>
                          <div class="row mb-3">  
                            <label for="example-text-input" class="col-form-label customer_lable">PHONE</label>  
                            <div class="col-sm-12">123456789</div>
                          </div>  
                            <div class="row mb-3">  
                            <label for="example-text-input" class="col-form-label customer_lable">EMAIL</label>  
                            <div class="col-sm-12">  
                             <a href="mailto:info@ezbzrentals.com">info@ezbzrentals.com</a>
                            </div>  
                          </div>  
                       
                        <div class="row mb-3">  
                          <label for="example-text-input" class="col-form-label"></label>
                         
                      </div>  
                    </div>
                </div>
            </div>   
            <div class="col-9">
                <div class="card">
                    <div class="card-body">                       
                      <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-10">
                            <h2 class="upper-letter">Room</h2>
                            <div class="booking_field">
                                <div class="booking_lable">CHECK IN</div>
                                <div class="booking_date">Sat 04-08-2023</div>
                            </div>    
                            <div class="booking_field">
                                <div class="booking_lable">CHECK OUT</div>
                                <div class="booking_date">Sat 04-08-2023</div>
                            </div> 
                            <div class="booking_field">
                                <div class="booking_lable">NIGHTS</div>
                                <div class="booking_date">3</div>
                            </div> 
                            <div class="booking_fieldext">
                                <div class="booking_lable">RATE</div>
                                <div class="booking_date">STAY 3 OR MORE NIGHTS</div>
                            </div> 
                        </div>
                        <div class="col-lg-2"></div>
                        </div>
                        <hr>
                      <div class="row mb-3">  
                      <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                  <th class="col-lg-2">DATE</th>
                                  <th class="col-lg-7">ITEM</th>
                                  <th class="col-lg-1">QTY</th>
                                  <th class="col-lg-2">AMOUNT</th>
                                </tr>
                              </thead>
                            <tbody>
                                <tr>
                                    <td>04/01/2023</td>
                                    <td>Room</td>
                                    <td>1</td>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <td>04/01/2023</td>
                                    <td>Room</td>
                                    <td>1</td>
                                    <td>200</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mb-3">  
                    <h3>Payments</h3>
                    <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                <th class="col-lg-2">DATE</th>
                                <th class="col-lg-7">TYPE</th>
                                <th class="col-lg-1">STATUS</th>
                                <th class="col-lg-2">AMOUNT</th>
                              </tr>
                            </thead>
                          <tbody>
                              <tr>
                                  <td>04/01/2023</td>
                                  <td>Room</td>
                                  <td>1</td>
                                  <td>200</td>
                              </tr>
                              <tr>
                                  <td>04/01/2023</td>
                                  <td>Room</td>
                                  <td>1</td>
                                  <td>200</td>
                              </tr>
                              
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="row mb-3">  
                <div class="col-lg-7"></div>
                <div class="col-lg-5">
                <div class="table-responsive">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                            <th class="col-lg-9">Subtotal</th>
                            <th class="col-lg-3">1153</th>
                           
                          </tr>
                        </thead>
                      <tbody>
                          <tr>
                              <td>General Excise Tax</td>
                              <td>54.34</td>
                             
                          </tr>
                          <tr>
                              <td>Transient Accommodation Tax</td>
                              <td>118.27</td>
                              
                          </tr>
                          <tr>
                            <td>County Tourism Tax</td>
                            <td>34.27</td>
                            
                        </tr>
                        <tr>
                            <th>Total</th>
                            <th>34.27</th>                            
                        </tr>
                        <tr>
                            <td>Amount paid</td>
                            <td>34.27</td>                            
                        </tr>
                        <tr>
                            <th>Balance</th>
                            <th>34.27</th>                            
                        </tr>
                      </tbody>
                  </table>
                </div>
              </div>
          </div>
                          </div> 
                      </div> 
                  </div> 
                </div> 
              </div> 
            </div> 
           
   </div> 
   {% include 'super/base/footer.html'%}
  </div> 
  
  <script src="/static/users/libs/jquery/jquery.min.js"></script>
  <script src="/static/users/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/users/libs/metismenu/metisMenu.min.js"></script>
  <script src="/static/users/libs/simplebar/simplebar.min.js"></script>
  <script src="/static/users/libs/node-waves/waves.min.js"></script>
  <script src="/static/users/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
  <script src="/static/users/js/pages/form-element.init.js"></script>
  <script src="/static/users/js/app.js"></script>

</body>

</html>                        