<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Discounts</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="" name="description" />
<meta content="" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/static/users/images/favicon.png">
<link href="/static/users/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="/static/users/css/custom.css" rel="stylesheet" type="text/css" />
</head>
<body data-layout="horizontal">
<div id="layout-wrapper">
{% include 'users/base/header.html'%}
<div class="main-content">
<div class="page-content">
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 mrgbp brdr">
              {% include 'users/rentals/rental_nav.html'%}
            </div>
            <div class="col-lg-9">
              <h5>Discounts</h5>
              <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard</p>
              <hr>
              {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}   
                  <button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button>
              </div>
              {% endfor %}
              {%endif%}
              <p><strong>Discounts for longer stays</strong></p>
              <form method="POST" enctype="multipart/form-data" class="post-form" action="/rentals/long-stay-discounts/{{longstaydiscount.id}}">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-lg-6">
                    <label class="form-label fw6">7 nights or more (%)</label>
                    <input type="text" class="form-control" name="seven_nights" value="{{longstaydiscount.seven_nights}}">
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label fw6">14 nights or more (%)</label>
                    <input type="text" class="form-control" name="fourteen_nights" value="{{longstaydiscount.fourteen_nights}}">
                  </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                    <label class="form-label fw6">21 nights or more (%)</label>
                    <input type="text" name="twenty_one_nights" class="form-control" value="{{longstaydiscount.twenty_one_nights}}">
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label fw6">28 nights or more (%)</label>
                    <input type="text" name="twenty_eight_nights" class="form-control" value="{{longstaydiscount.twenty_eight_nights}}">
                  </div>
                  </div>
                <div class="mb-3">
                 <input type="submit" class="btn btn-primary" value="Save">
                  
                </div>
              </form>
              <hr>
              <p><strong>Last minute / Early bird discounts</strong></p>
              <form method="POST" enctype="multipart/form-data" class="post-form" action="/rentals/early-bird-discounts/{{earlybirddiscount.id}}">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-lg-6">
                    <label class="form-label fw6">Booking made less than</label>
                    <select class="form-select" name="booking_less">
                        <option>--Select--</option>
                        <option value="1" {% if earlybirddiscount.booking_less == "1" %} selected {% endif %}>1 day</option>
                        <option value="2" {% if earlybirddiscount.booking_less == "2" %} selected {% endif %}>2 day</option>
                        <option value="3" {% if earlybirddiscount.booking_less == "3" %} selected {% endif %}>3 day</option>
                      </select>
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label fw6">Apply discount of (%)</label>
                    <input type="text" class="form-control" name="booking_less_discount" value="{{earlybirddiscount.booking_less_discount}}">
                  </div>
                  </div>
                  <div class="row mb-3"><h5>Early bird discounts</h5></div>
                  <div class="row mb-3">
                    <div class="col-lg-6">
                    <label class="form-label fw6">Booking made more than</label>
                    <select class="form-select" name="booking_more">
                        <option>--Select--</option>
                        <option value="1" {% if earlybirddiscount.booking_more == "1" %} selected {% endif %}>1 day</option>
                        <option value="2" {% if earlybirddiscount.booking_more == "2" %} selected {% endif %}>2 day</option>
                        <option value="3" {% if earlybirddiscount.booking_more == "3" %} selected {% endif %}>3 day</option>
                      </select>
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label fw6">Apply discount of (%)</label>
                    <input type="text" name="booking_more_discount" class="form-control" value="{{earlybirddiscount.booking_more_discount}}">
                  </div>
                  </div>
                <div class="mb-3">
                 <input type="submit" class="btn btn-primary" value="Save">
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>    
    </div>
</div>
{% include 'users/base/footer.html'%} 
</div>
</div>

<script src="/static/users/libs/jquery/jquery.min.js"></script>
<script src="/static/users/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/users/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/users/libs/simplebar/simplebar.min.js"></script>
<script src="/static/users/libs/node-waves/waves.min.js"></script>
<script src="/static/users/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/users/libs/select2/js/select2.min.js"></script>

<script src="/static/users/js/app.js"></script>
<script>
  $(".alert-success").fadeTo(3000, 500).slideUp(500, function(){
      $(".alert-success").slideUp(500);
  });
</script>
</body>
</html>
