<div id="sidebar-menu" class="rentalNav">
    <ul class="metismenu list-unstyled" id="side-menu">
      <li> <a href="/rentals/overview/{{rental_id}}" class="waves-effect"> <span>Overview</span> </a> </li>
      <li> <a href="/rentals/basic/{{rental_id}}" class="waves-effect"> <span>Basic Information</span> </a> </li>
      <li> <a href="/rentals/photo/{{rental_id}}" class="waves-effect"> <span>Photo</span> </a> </li>
      <li> <a href="/rentals/location/{{rental_id}}" class="waves-effect"> <span>Location</span> </a> </li>
      <li> <a href="/rentals/rooms/{{rental_id}}" class="waves-effect"> <span>Rooms</span> </a> </li>
      <li> <a href="/rentals/amenities/{{rental_id}}" class="waves-effect"> <span>Amenities</span> </a> </li>
      <li> <a href="/rentals/basic-rates/{{rental_id}}" class="waves-effect"> <span>Basic Rates</span> </a> </li>
      <li> <a href="/rentals/seasonal-rates/{{rental_id}}" class="waves-effect"> <span>Seasonal rates</span> </a> </li>
      <li> <a href="/rentals/discounts/{{rental_id}}" class="waves-effect"> <span>Discounts</span> </a> </li>
      <li> <a href="/rentals/additional-info/{{rental_id}}" class="waves-effect"> <span>Additional Info</span> </a> </li>
      <li> <a href="/rentals/house-rules/{{rental_id}}" class="waves-effect"> <span>House Rules</span> </a> </li>
      <li> <a href="/rentals/policy/{{rental_id}}" class="waves-effect"> <span>Policy</span> </a> </li>
      <li> <a href="/rentals/instructions/{{rental_id}}" class="waves-effect"> <span>Instructions</span> </a> </li>
      <li> <a href="/rentals/select-channels/{{rental_id}}" class="waves-effect"> <span>Channels</span> </a> </li>
    </ul>
  </div>