<div id="sidebar-menu" class="rentalNav">
    <ul class="metismenu list-unstyled" id="side-menu">
      <li> <a href="/rentals/overview" class="waves-effect"> <span>Overview</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Basic Information</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Photo</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Location</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Rooms</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Amenities</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Basic Rates</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Seasonal rates</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Discounts</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Additional Info</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>House Rules</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Policy</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Instructions</span> </a> </li>
      <li> <a href="javascript:void(0)" class="waves-effect"> <span>Channels</span> </a> </li>
    </ul>
  </div>