<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Basic Information</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="" name="description" />
<meta content="" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/static/users/images/favicon.png">
<link href="/static/users/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="/static/users/css/custom.css" rel="stylesheet" type="text/css" />
</head>
<body data-layout="horizontal">
<div id="layout-wrapper">
{% include 'users/base/header.html'%}
<div class="main-content">
<div class="page-content">
<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 mrgbp brdr">
              {% include 'users/rentals/rental_nav.html'%}
            </div>
            <div class="col-lg-9">
              <h5>Basic Information</h5>
              <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard</p>
              <hr>
              {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}   
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
            </div>
                {% endfor %}
                {%endif%}
              <form method="POST" enctype="multipart/form-data" class="post-form" action="/rentals/rental-basic-update/{{rentalbasic.id}}">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-lg-6">
                    <label class="form-label fw6">Rental Type<span class="strict">*</span></label>
                    <select name="rental_type" class="form-control select2" required>
                      <option>--Select--</option>
                      {% for rentaltype in rentaltype %}
                      <option value="{{rentaltype.id}}" {% if rentaltype.rental_type == rentalbasic.rental_type_id %} selected {% endif %}>{{rentaltype.room_type_name}} </option>                      
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label fw6">Rental Basis<span class="strict">*</span></label>
                    <select name="rental_basis" class="form-select" required>
                      <option>--Select--</option>
                      <option value="Entire house or apartment" {% if rentalbasic.rental_basis == "Entire house or apartment" %} selected {% endif %}>Entire house or apartment</option>
                      <option value="Room with own facilities" {% if rentalbasic.rental_basis == "Room with own facilities" %} selected {% endif %}>Room with own facilities</option>
                      <option value="Room with shared facilities" {% if rentalbasic.rental_basis == "Room with shared facilities" %} selected {% endif %}>Room with shared facilities</option>
                    </select>
                  </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-lg-3">
                    <label class="form-label fw6">Floorspace<span class="strict">*</span></label>
                    <input type="text" name="floorspace" class="form-control" value="{{rentalbasic.floorspace}}"/>
                  </div>
                  <div class="col-lg-3">
                    <label class="form-label fw6">Units<span class="strict">*</span></label>
                    <select name="floorspace_units" class="form-select" required>
                      <option>--Select--</option>
                      <option value="ft2" {% if rentalbasic.floorspace_units == "ft2" %} selected {% endif %}>ft²</option>
                      <option value="m2" {% if rentalbasic.floorspace_units == "m2" %} selected {% endif %}>m²</option>                      
                    </select>
                  </div>
                  <div class="col-lg-3" id="tooltip-container">
                    <label class="form-label fw6">Grounds <button type="button" class="btntip" data-bs-container="#tooltip-container"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="The size of the entire plot including garden and other areas able to be accessed by the guest. Leave blank if there are no grounds.">
                      ?
                  </button></label>
                    <input type="text" name="grounds" class="form-control" value="{{rentalbasic.grounds}}">
                  </div>
                  <div class="col-lg-3">
                    <label class="form-label fw6">Units</label>
                    <select name="grounds_units" class="form-select">
                        <option>--Select--</option>
                        <option value="ft2" {% if rentalbasic.grounds_units == "ft2" %} selected {% endif %}>ft²</option>
                        <option value="m2" {% if rentalbasic.grounds_units == "m2" %} selected {% endif %}>m²</option>                      
                      </select>
                  </div>
                  </div>
                <div class="row mb-3">
                    <div class="col-lg-6">
                    <label class="form-label fw6" for="productname">Floors in building</label>
                    <input id="floors_building" placeholder="Enter Floors in building" name="floors_building" type="text" class="form-control" value="{{rentalbasic.floors_building}}">
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label fw6" for="productname">Entrance</label>
                    <select class="form-select" name="entrance">
                      <option>--Select--</option>
                      <option value="Common - with security" {% if rentalbasic.entrance == "Common - with security" %} selected {% endif %}>Common - with security</option>
                      <option value="Common - without security" {% if rentalbasic.entrance == "Common - without security" %} selected {% endif %}>Common - without security</option>
                      <option value="Private" {% if rentalbasic.entrance == "Private" %} selected {% endif %}>Private</option>
                    </select>
                  </div>
                </div>
                
                <div class="mb-3">
                  <div class="col-lg-6" id="tooltip-container">
                    <label class="form-label fw6" for="productname">Property Licence / Permit Number  <button type="button" class="btntip" data-bs-container="#tooltip-container"
                      data-bs-toggle="tooltip" data-bs-placement="top" title="If your local authority ask you to have a Property Licence Number, enter it here.">
                      ?
                  </button></label>
                    <input id="rental_licence" placeholder="Enter Property Licence Number" name="rental_licence" type="text" class="form-control" value="{{rentalbasic.rental_licence}}">
                  </div>
                </div>
            
                <div class="mb-3">
                 <input type="submit" class="btn btn-primary" value="Save">
                  
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>    
    </div>
</div>
{% include 'users/base/footer.html'%} 
</div>
</div>

<script src="/static/users/libs/jquery/jquery.min.js"></script>
<script src="/static/users/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/users/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/users/libs/simplebar/simplebar.min.js"></script>
<script src="/static/users/libs/node-waves/waves.min.js"></script>
<script src="/static/users/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/users/libs/select2/js/select2.min.js"></script>

<script src="/static/users/js/app.js"></script>

<script>
    function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];
        if(file){
          var reader = new FileReader();
          reader.onload = function(){
              $("#previewImg").attr("src", reader.result);
          }
          reader.readAsDataURL(file);
        }
    }


    
</script>

<script>
  $(".alert-success").fadeTo(5000, 500).slideUp(500, function(){
      $(".alert-success").slideUp(500);
  });
</script>
</body>
</html>
