<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Add Rate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/static/agents/images/favicon.png">
        <link href="/static/agents/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/agents/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/custom.css" rel="stylesheet" type="text/css">
    </head>

    <body class="dark-sidenav">
        <div class="left-sidenav">
            {% include 'agents/base/left_sidebar.html' %}
        </div>
        

        <div class="page-wrapper">
            <div class="topbar">            
                {% include 'agents/base/top_nav.html' %}
        </div>
<div class="page-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <div class="page-title-box">
                  <div class="row">
                      <div class="col">
                          <h4 class="page-title">Add Rate</h4>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/agents/dashboard">Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="/agents/rate">Rate</a></li>
                              <li class="breadcrumb-item active">Add Rate</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      <div class="row align-items-center">
                          <div class="col">                      
                              <h4 class="card-title">Rate</h4>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="row">
                        <div class="col-lg-1"></div>
                          <div class="col-lg-9">
                            <form method="POST" enctype="multipart/form-data" class="post-form" action="/agents/rate-insert">  
                                {% csrf_token %}  
                            <div class="container">  
                              <div class="form-group row">  
                                <label class="col-sm-3 col-form-label">User:</label>  
                                <div class="col-sm-9">  
                                  <select name="user_id" class="form-control">
                                    {% for user in users %}
                                      <option value="{{user.id}}">{{user.username}}</option>
                                    {% endfor %}
                                  </select>
                                </div>  
                              </div> 
                              <div class="form-group row">  
                                <label class="col-sm-3 col-form-label">Rate Type:</label>  
                                <div class="col-sm-9">  
                                  <select name="rate_type" class="form-control">
                                    {% for rate in ratetype %}
                                        <option value="{{rate.id}}">{{rate.ratetype_name}}</option>
                                      {% endfor %}
                                  </select>
                                </div>  
                              </div>
                            <div class="form-group row">  
                            <label class="col-sm-3 col-form-label">Rate Name:</label>  
                            <div class="col-sm-9">  
                              <input type="text" placeholder="Rate Name" name="rate_name" class="form-control"> 
                            </div>  
                          </div>  
                          
                          <div class="form-group row">  
                            <label class="col-sm-3 col-form-label">Included Occupants:</label>  
                            <div class="col-sm-9">  
                              <input type="text" placeholder="Included Occupants" name="included_occupants" class="form-control">
                            </div>  
                          </div> 
                          <div class="form-group row">  
                            <label class="col-sm-3 col-form-label">Extra Person Charge - Adults:</label>  
                            <div class="col-sm-9">  
                              <input type="text" placeholder="Extra Person Charge- Adults" name="extra_adult_charge" class="form-control">
                            </div>  
                          </div>  
                          <div class="form-group row">  
                            <label class="col-sm-3 col-form-label">Extra Person Charge - Children:</label>  
                            <div class="col-sm-9">  
                              <input type="text" placeholder="Extra Person Charge - Children" name="extra_children_charge" class="form-control">
                            </div>  
                          </div>
                          <div class="form-group row">  
                            <label class="col-sm-3 col-form-label">Weekend Surcharge:</label>  
                            <div class="col-sm-9">  
                              <input type="text" placeholder="Weekend Surcharge" name="weekend_surcharge" class="form-control">
                             
                            </div>  
                          </div>
                          <div class="form-group row">  
                            <label class="col-sm-3 col-form-label"></label>  
                            <div class="col-sm-9">
                            <span class="week_charege"><input type="checkbox" name="day_surcharge[]" value="1" class="surcharge" />Mon</span>
                            <span class="week_charege"><input type="checkbox" name="day_surcharge[]" value="2" class="surcharge" />Tue</span>
                            <span class="week_charege"><input type="checkbox" name="day_surcharge[]" value="3" class="surcharge" />Wed</span>
                            <span class="week_charege"><input type="checkbox" name="day_surcharge[]" value="4" class="surcharge" />Thu</span>
                            <span class="week_charege"><input type="checkbox" name="day_surcharge[]" value="5" class="surcharge" />Fri</span>
                            <span class="week_charege"><input type="checkbox" name="day_surcharge[]" value="6" class="surcharge" />Sat</span>
                            <span class="week_charege"><input type="checkbox" name="day_surcharge[]" value="7" class="surcharge" />Sun</span>                             

                            </div>  
                          </div>
                          <div class="form-group row">  
                            <label for="example-text-input-sm" class="col-sm-3 col-form-label text-right">Disable Rates</label>
                            <div class="col-sm-9">  
                              <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio3" name="disable_rates" value="1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio3">Yes</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio4" name="disable_rates" value="0" class="custom-control-input" checked>
                              <label class="custom-control-label" for="customRadio4">No</label>
                          </div>
                            </div>
                        </div>
                        
                          <div class="form-group row">  
                            <label class="col-sm-3 col-form-label">Description:</label>  
                            <div class="col-sm-9">  
                              <textarea name="description" class="form-control" id="elm1"></textarea>
                            </div>  
                          </div>  
                          <div class="form-group row">  
                            <label for="example-text-input-sm" class="col-sm-3 col-form-label text-right">Status</label>
                            <div class="col-sm-9">  
                              <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="status" value="1" class="custom-control-input" checked>
                                <label class="custom-control-label" for="customRadio1">Active</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio2" name="status" value="0" class="custom-control-input">
                              <label class="custom-control-label" for="customRadio2">InActive</label>
                          </div>
                            </div>
                        </div>
                        <div class="form-group row">  
                          <label for="example-text-input-sm" class="col-sm-3 col-form-label text-right"></label>
                          <div class="col-sm-9">  
                          <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                      </div>  
                         
                          </div>  
                        </form> 
                      </div> 
                  </div> 
                </div> 
              </div> 
            </div> 
           </div> 
   </div> 
   {% include 'agents/base/footer.html'%}
  </div> 
  <script src="/static/agents/js/jquery.min.js"></script>
  <script src="/static/agents/js/bootstrap.bundle.min.js"></script>
  <script src="/static/agents/js/metismenu.min.js"></script>
  <script src="/static/agents/js/waves.js"></script>
  <script src="/static/agents/js/feather.min.js"></script>
  <script src="/static/agents/js/simplebar.min.js"></script>
  <script src="/static/agents/js/jquery-ui.min.js"></script>
  <script src="/static/agents/js/moment.js"></script>
  <script src="/static/agents/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="/static/agents/js/app.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
<script>
  ClassicEditor
          .create( document.querySelector( '#elm1' ) );
</script>


</body>

</html>                        