<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Edit Rental</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/static/agents/images/favicon.png">
        <link href="/static/agents/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/agents/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/agents/css/custom.css" rel="stylesheet" type="text/css">
    </head>

    <body class="dark-sidenav">
        <div class="left-sidenav">
            {% include 'agents/base/left_sidebar.html' %}
        </div>
        

        <div class="page-wrapper">
            <div class="topbar">            
                {% include 'agents/base/top_nav.html' %}
        </div>
<div class="page-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <div class="page-title-box">
                  <div class="row">
                      <div class="col">
                          <h4 class="page-title">Add Rental</h4>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/agents/dashboard">Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="/agents/rental">Rental</a></li>
                              <li class="breadcrumb-item active">Add Rental</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-12">
              <div class="card">               
                 
                   
                       
                                    
                                    <div class="card-body">
                                        <form method="POST" enctype="multipart/form-data" class="post-form" action="/agents/rental-update/{{rental.id}}"> {% csrf_token %} 
                                        <ul class="nav nav-pills nav-justified" role="tablist">
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link active" data-toggle="tab" href="#information" role="tab" aria-selected="true">Information</a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link" data-toggle="tab" href="#images" role="tab" aria-selected="false">Images</a>
                                            </li>
                                            <li class="nav-item waves-effect waves-light">
                                                <a class="nav-link" data-toggle="tab" href="#data" role="tab" aria-selected="false">Data</a>
                                            </li>
                                        </ul>
                                       
                                        <div class="tab-content">
                                            <div class="tab-pane p-3 active" id="information" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-lg-10">
                                                      <div class="container"> 
                                                        <div class="form-group row">  
                                                          <label class="col-sm-3 col-form-label">Name:</label>  
                                                          <div class="col-sm-9">  
                                                            <input type="text" name="rental_name" class="form-control" placeholder="Enter Name" rows="1" required="" id="id_rental_name" value="{{rental.rental_name}}">
                                                          </div>  
                                                        </div>
                                                       
                                                          <div class="form-group row">  
                                                          <label class="col-sm-3 col-form-label">Url:</label>  
                                                          <div class="col-sm-9">  
                                                            <input type="text" name="rental_url" class="form-control" placeholder="Enter Url" rows="1" required="" id="id_rental_url" value="{{rental.rental_url}}">  
                                                          </div>   
                                                        </div>
                                                        <div class="form-group row">  
                                                          <label class="col-sm-3 col-form-label" >Description:</label>  
                                                          <div class="col-sm-9" >  
                                                            <textarea name="rental_description" cols="30" rows="10" class="form-control" id="elm1">value="{{rental.rental_description}}"</textarea>   
                                                          </div>   
                                                        </div> 
                                                      </div> 
                                                    </div>
                                                  </div>
                                            </div>
                                            <div class="tab-pane p-3" id="images" role="tabpanel">
                                                <div class="form-group row">  
                                                    <label class="col-sm-3 col-form-label">Image:</label>  
                                                    <div class="col-sm-9">  
                                                      <input type="file" name="rental_logo" class="form-control" placeholder="Customer/Company Name" rows="1" required="" id="id_rental_logo"> 
                                                      <br>
                                                      <img src="/media/{{ rental.rental_logo }}" height="100"> 
                                                    </div>  
                                                  </div> 
                                            </div>
                                            <div class="tab-pane p-3" id="data" role="tabpanel"> 
                                              <div class="row"><h4 class="card-title">Amenities:</h4></div>
                                                <div class="form-group row"> 
                                                        {% for amenities in amenities %}
                                                        <div class="col-md-3 mb-3">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheck{{amenities.id}}" name="amenities[]" value="{{amenities.id}}">
                                                                <label class="custom-control-label" for="customCheck{{amenities.id}}">{{amenities.title}}</label>
                                                            </div>
                                                        </div>
                                                          {% endfor %}
                                                    
                                                  </div>

                                                      <div class="row"><h4 class="card-title">Activities:</h4></div>
                                                      <div class="form-group row"> 
                                                        {% for activities in activities %}
                                                        <div class="col-md-3 mb-3">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" name="activities[]" id="customChecks{{activities.id}}" class="custom-control-input" value="{{activities.id}}">
                                                                <label class="custom-control-label" for="customChecks{{activities.id}}">{{activities.name}}</label>
                                                            </div>
                                                        </div>
                                                          {% endfor %}
                                                      
                                                    
                                                  </div> 
                                                  <div class="row"><h4 class="card-title">Policy:</h4></div>
                                                <div class="form-group row"> 
                                                    
                                                      <select name="policy" required="" id="id_policy" class="form-control select2" multiple>
                                                        {% for policy in policy %}
                                                            <option value="{{policy.id}}">{{policy.policy_name}}</option>
                                                          {% endfor %}
                                                      </select>
                                                    
                                                  </div>
                                                
                                                <div class="form-group row">  
                                                    <label for="example-text-input-sm" class="col-sm-3 col-form-label text-right"></label>
                                                    <div class="col-sm-9">  
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                
                        
                    
                   
                 
              </div> 
          </div>
      </div>
  </div>
  {% include 'agents/base/footer.html'%}
</div> 
<script src="/static/agents/js/jquery.min.js"></script>
<script src="/static/agents/js/bootstrap.bundle.min.js"></script>
<script src="/static/agents/js/metismenu.min.js"></script>
<script src="/static/agents/js/waves.js"></script>
<script src="/static/agents/js/feather.min.js"></script>
<script src="/static/agents/js/simplebar.min.js"></script>
<script src="/static/agents/js/jquery-ui.min.js"></script>
<script src="/static/agents/js/moment.js"></script>
<script src="/static/agents/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/agents/js/app.js"></script>

</body>
</html>   
                   
               
          
                     
                         

                      