<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                
                <li>
                    <a href="/users/dashboard" class="waves-effect">
                        <i class="ri-dashboard-line"></i>
                        <span>Dashboard</span>
                    </a>
                </li>                      

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Application</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/users/rental-type">Rental Type</a></li>
                        <li><a href="/users/rentals">Rentals</a></li>
                        <li><a href="/users/channels">Channels</a></li>
                        <li><a href="/users/policy">Policy</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/users/bookings" class="waves-effect">
                        <i class="ri-mail-send-line"></i>
                        <span>Bookings</span>
                    </a>
                   
                </li>

                <li>
                    <a href="/users/calendar/30" class=" waves-effect">
                        <i class="ri-artboard-2-line"></i>
                        <span>Calender</span>
                    </a>
                </li>

                <li>
                    <a href="/users/bookings" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Bookings</span>
                    </a>
                    
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-account-circle-line"></i>
                        <span>Rates</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a target="_self" href="/users/rate-type">Rate Type</a></li>
                        <li><a target="_self" href="/users/rate">Rate</a></li>
                        
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-profile-line"></i>
                        <span>Invoice</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/users/invoice-create">Create Invoice</a></li>
                        <li><a target="_self" href="/users/invoice/">List Invoice</a></li>
                        <li><a target="_self" href="/users/company">Company Profile</a></li>
                       
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-pencil-ruler-2-line"></i>
                        <span>Tax</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/users/tax-type">Tax Type</a></li>
                        <li><a href="/users/tax">Tax</a></li>
                       
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Amenities & Activities</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/users/amenities">Amenities</a></li>
                        <li><a href="/users/activity">Activities</a></li>
                       
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Accounts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/users/discount-type">Discount Type</a></li>
                        <li><a href="/users/discounts">Discount</a></li>
                        <li><a href="/users/currency">Currency</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/users/attributes" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Attributes</span>
                    </a>
                    
                </li>

            </ul>
        </div>
    </div>
</div>