<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Password Reset</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link rel="shortcut icon" href="/static/users/images/favicon.png">

        <link href="/static/users/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="/static/users/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/users/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>
        
        
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <div class="p-4 align-items-center min-vh-100 auth-body-bg">
                            <div class="w-100">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                            <div class="text-center">
                                                    <a href="/" class="logo"><img src="/static/users/images/ezbz-logo.png" height="100" alt="logo"></a>
                                               <div class="mt-4">
                                                <h4 class="font-size-18">Password Reset !</h4>
                                                <p class="text-muted">Enter your email address and we'll send you instructions on how to reset your password</p>
                                            </div>
                                                {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}   
                  <button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button>
              </div>
              {% endfor %}
              {%endif%}
                                            </div>

                                            <div>
                                                <form class="form-horizontal auth-form my-4" action="/" method="POST">  {% csrf_token %}
                    
                                                    <div class="mb-3 auth-form-group-custom mb-2">
                                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                        <label for="username">Email</label>
                                                        <input type="text" class="form-control" name="email" placeholder="Enter your email">
                                                    </div>
                            
                                                   
                                                    <div class="mt-4 text-center">
                                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Reset</button>
                                                    </div>

                                                
                                                </form>
                                            </div>

                                            <div class="mt-5 text-center">
                                              
                                                <p>Copyright &copy; EZBZ Rentals
                        <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.</p>
                                            </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        

        

        <script src="/static/users/libs/jquery/jquery.min.js"></script>
        <script src="/static/users/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/users/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/users/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/users/libs/node-waves/waves.min.js"></script>
        <script src="/static/users/js/app.js"></script>
        <script>
            $(".alert-success").fadeTo(3000, 500).slideUp(500, function(){
                $(".alert-success").slideUp(500);
            });
          </script>
    </body>
</html>
