
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zxx">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Room Details</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/bookingengine/engine/images/favicon.png">
    <link href="/static/bookingengine/engine/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/bookingengine/engine/css/default.css" rel="stylesheet" type="text/css">
    <link href="/static/bookingengine/engine/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/bookingengine/engine/css/plugin.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>

   

    <header class="main_header_area">
        <div class="header-content">
            <div class="container">
                <div class="links links-left">
                    <ul>
                        <li><a href="mailto:info@ezbzrentals.com"><i class="fa fa-envelope" aria-hidden="true"></i> info@ezbzrentals.com</a></li>
                        <li><a href="tel:+12165395283"><i class="fa fa-phone" aria-hidden="true"></i> +1-216 539 5283</a></li>                       
                    </ul>
                </div>
                <div class="links links-right pull-right">
                    <ul>                       
                        <li>
                            <ul class="social-links">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                 <li><a href="#" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>                               
                                <li><a href="#" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_menu affix-top">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/booking-engine/overview">
                            <img alt="logo1" src="/static/bookingengine/engine/images/logo.png" class="logo-black">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="responsive-menu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="rooms.html">Rooms</a> </li>
                            <li><a href="#">About Us</a></li>
                   			<li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div id="slicknav-mobile"></div>
            </nav>
        </div>
    </header>

    <section class="breadcrumb-outer">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Room Details</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Room Details</li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <section class="details">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="detail-slider">
                        <div class="slider-1 slider-for">
                            {% for photo in gallery%}
                            <div class="detail-slider-item">
                                <img src="/media/{{photo.image}}" height="400" width="300" alt="image">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="slider-1 slider-nav">
                            {% for photo in gallery%}
                            <div class="detail-slider-item">
                                <img src="/media/{{photo.image}}" height="100" alt="image">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="detail-content">
                        <div class="detail-title">
                            <div class="title-left">
                                <h3>Luxury King Room</h3>
                               
                            </div>
                           
                        </div>
                        <div id="exTab1"> 
                            <ul  class="nav nav-pills">
                                <li class="active"><a  href="#1a" data-toggle="tab">Overview</a></li>
                                <li><a href="#2a" data-toggle="tab">Price/Rate</a></li>
                                <li><a href="#3a" data-toggle="tab">Places Around</a></li>
                                <li><a href="#4a" data-toggle="tab">Location/Map</a></li>                               
                            </ul>

                            <div class="tab-content clearfix">
                                <div class="tab-pane active" id="1a">
                                  <div class="detail-overview detail-box">
                                        <h4>Overview and Amenities</h4>
                                        <p>{{rooms.description|safe}}</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius ligula non tellus euismod fermentum. Nulla quis enim ut est dapibus luctus quis quis enim. Ut bibendum ultricies nisl ut aliquam. Ut in arcu id nunc elementum ultricies eu eget lacus. Nam at neque lorem. Vivamus faucibus ex et hendrerit venenatis. Donec quis dignissim purus nullam semper ullamcorper odio vitae dictum.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis varius ligula non tellus euismod fermentum. Nulla quis enim ut est dapibus luctus quis quis enim. Ut bibendum ultricies nisl ut aliquam. Ut in arcu id nunc elementum ultricies eu eget lacus nam at neque lorem.</p>
                                        <ul class="amenities">
                                            {% for amenities in my_lists %}
                                            <li><i class="fa fa-check" aria-hidden="true"></i> {{amenities }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" id="2a">
                                    <div class="price-table detail-box">
                                        <h4>Price and Rates(/Night)</h4>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>Sun</td>
                                                    <td>Mon</td>
                                                    <td>Tues</td>
                                                    <td>Wed</td>
                                                    <td>Thurs</td>
                                                    <td>Fri</td>
                                                    <td>Sat</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>$1200</td>
                                                    <td>$1200</td>
                                                    <td>$1200</td>
                                                    <td>$1200</td>
                                                    <td>$1200</td>
                                                    <td>$1200</td>
                                                    <td>$1200</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="3a">
                                    <div class="detail-places detail-box">
                                        <h4>Places Around</h4>
                                        <div class="service-outer">
                                            <div class="row">
                                                <div class="col-md-4 col-sm-12 col-xs-12">
                                                    <div class="service-item">
                                                        <div class="service-image">
                                                            <img src="/static/bookingengine/engine/images/rooms/room-1.jpg" alt="Image">
                                                        </div>
                                                        <div class="service-content">
                                                            <h3>Restaurant</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <div class="service-item">
                                                        <div class="service-image">
                                                            <img src="/static/bookingengine/engine/images/rooms/room-1.jpg" alt="Image">
                                                        </div>
                                                        <div class="service-content">
                                                            <h3>Massage</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6 col-xs-12">
                                                    <div class="service-item">
                                                        <div class="service-image">
                                                            <img src="/static/bookingengine/engine/images/rooms/room-1.jpg" alt="Image">
                                                        </div>
                                                        <div class="service-content">
                                                            <h3>Swimming Pool</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class="tab-pane" id="4a">
                                    <div class="detail-map detail-box">
                                        <div class="detail-location">
                                            <h4>Location and Map</h4>
                                           
                                        </div>
                                        <div id="map" style="height: 357px; width: 100%;"></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="detail-sidebar">
                        <div class="sidebar-form reservation-form">
                            <div class="form-price">
                                <div class="title-price">
                                    <h2>${{rooms.price}}<span>/Night</span></h2>
                                </div>
                            </div>

                            <div class="banner-form form-style-2">

                                <div class="form-content">
                                    <div class="form-content-inner">
                                        <div class="table-item">
                                            <label>Check In</label>
                                             <div class="form-group">
                                                <div class="date-range-inner-wrapper">
                                                    <input id="date-range2" name="checkin_date" id="checkin_date" class="form-control" value="Check In">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-item">
                                            <label>Check Out</label>
                                             <div class="form-group">
                                                <div class="date-range-inner-wrapper">
                                                    <input id="date-range3" name="checkin_date" id="checkout_date" class="form-control" value="Check Out">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-item">
                                            <label>Adults</label>
                                            <div class="form-group form-icon">
                                                <select name="no_of_adult" id="no_of_adult">
                                                    <option value="1">0</option>
                                                    <option value="2">1</option>
                                                    <option value="3">2</option>
                                                    <option value="4">3</option>
                                                    <option value="5">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="table-item">
                                            <label>Children</label>
                                            <div class="form-group form-icon">
                                                <select name="no_of_child" id="no_of_child">
                                                    <option value="1">0</option>
                                                    <option value="2">1</option>
                                                    <option value="3">2</option>
                                                    <option value="4">3</option>
                                                    <option value="5">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="table-item">
                                            <div class="form-btn">
                                                <a class="btn btn-green">Book Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-support">
                            <h3>Help and Support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut arnare</p>
                            <p><i class="fa fa-phone"></i>  977 - 222 - 444 - 666</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="related-rooms">
        <div class="container">
            <div class="section-title">
                <h2>Explore <span>Rooms</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex neque, sodales accumsan sapien et, auctor vulputate quam donec vitae consectetur turpis</p>
            </div>
            <div class="room-outer">
                <div class="row team-slider">
                    {% for rooms in room %}
                    <div class="col-md-4">
                        <div class="room-item">
                            <div class="room-image">
                                <img src="/media/{{rooms.image}}" alt="image">
                            </div>
                            <div class="room-content">
                                <div class="room-title">
                                    <h4>Super Deluxe</h4>
                                    <p><i class="fa fa-tag"></i> ${{rooms.price}}/Night</p>
                                    
                                </div>
                                <div class="room-services mar-bottom-15">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-bed" aria-hidden="true"></i> 3 Bedrooms
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <i class="fa fa-wifi" aria-hidden="true"></i> Quick Service
                                        </div>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nulla, fermentum in faucibus a, interdum eu nibh.</p>
                                <div class="room-btns">
                                    <a href="/booking-engine/room-details/{{rooms.id}}" class="btn btn-black mar-right-10">VIEW DETAILS</a>
                                    <a href="#" class="btn btn-green">BOOK NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

   <footer>
        <div class="footer-top">
            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-about">
                                <h4>Company Info</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius tellus vitae justo blandit ultrices.</p>
                            </div>
                            
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="quick-links">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Rooms</a></li>                                    
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="Rooms">
                                <h4>Rooms</h4>
                                <ul>
                                    <li><a href="#">Single Rooms</a></li>
                                    <li><a href="#">Double Rooms</a></li>
                                    <li><a href="#">Studio Rooms</a></li>
                                    <li><a href="#">Kingsize Rooms</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="footer-contact">
                                <h4>Contact info</h4>
                                <ul>
                                    <li>Tel: <a href="tel:+12165395283">+12165395283</a></li>
                                    <li>Email: <a href="mailto:info@ezbzrentals.com">info@ezbzrentals.com</a></li>
                                    <li>Address: 445 Mount Eden Road, Sundarbasti, Chakrapath</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="copyright-content text-center">
                    <p class="white">Copyright &copy; EZBZ Rentals 2023. All Rights Reserved.</p>
                  
                </div>
            </div>
        </div>
    </footer>
    
    <div id="back-to-top">
        <a href="#"></a>
    </div>
  
    <script src="/static/bookingengine/engine/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bookingengine/engine/js/bootstrap.min.js"></script>
    <script src="/static/bookingengine/engine/js/plugin.js"></script>
    <script src="/static/bookingengine/engine/js/main.js"></script>
    <script src="/static/bookingengine/engine/js/custom-nav.js"></script>
    <script src="/static/bookingengine/engine/js/custom-singledate.js"></script>
    <script src="/static/bookingengine/engine/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4JwWo5VPt9WyNp3Ne2uc2FMGEePHpqJ8&amp;callback=initMap" async defer></script>

</body>
</html>