<script src="/static/super/js/jquery.min.js"></script>
<script src="/static/super/js/bootstrap.bundle.min.js"></script>
<script src="/static/super/js/metismenu.min.js"></script>
<script src="/static/super/js/waves.js"></script>
<script src="/static/super/js/feather.min.js"></script>
<script src="/static/super/js/simplebar.min.js"></script>
<script src="/static/super/js/jquery-ui.min.js"></script>
<script src="/static/super/js/moment.js"></script>
<script src="/static/super/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/super/plugins/select2/select2.min.js"></script>
<script src="/static/super/plugins/apex-charts/apexcharts.min.js"></script>
<script src="/static/super/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/super/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script>
<script src="/static/super/pages/jquery.analytics_dashboard.init.js"></script>
<script src="/static/super/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/super/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<script src="/static/super/plugins/tinymce/tinymce.min.js"></script>
<script src="/static/super/pages/jquery.form-editor.init.js"></script>
<script src="/static/super/js/app.js"></script>
<script>
    $('#datatable').DataTable();
</script>