<div class="brand">
    <a href="/super/dashboard" class="logo">
        <span>
            <img src="/static/super/images/ezbz.png" alt="logo-small" class="logo-sm">
        </span>        
    </a>
</div>
<div class="menu-content h-100" data-simplebar>
    <ul class="metismenu left-sidenav-menu">
        <li>
            <a href="/super/dashboard"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Dashboard</span></a>
        </li>


        <li>
            <a href="javascript: void(0);"><i data-feather="lock" class="align-self-center menu-icon"></i><span>Users</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="/super/users"><i class="ti-control-record"></i>Users</a></li>                
                <li class="nav-item"><a class="nav-link" href="/super/user-profile"><i class="ti-control-record"></i>Profile</a></li>                
            </ul>
        </li> 



        <li>
            <a href="javascript: void(0);"><i data-feather="grid" class="align-self-center menu-icon"></i><span>Application</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">      
                <li class="nav-item"><a class="nav-link" href="/super/rentals"><i class="ti-control-record"></i>Rentals</a></li>
            </ul>
        </li>


        <li>
            <a href="/super/rental-type"><i data-feather="calendar" class="align-self-center menu-icon"></i><span>Rental Type</span></a>
        </li>


        <li>
            <a href="/super/channels"><i data-feather="box" class="align-self-center menu-icon"></i><span>Channels</span></a>
        </li>


        <li>
            <a href="/super/policy"><i data-feather="calendar" class="align-self-center menu-icon"></i><span>Policy</span></a>
        </li>
           

        <li>
            <a href="/super/bookings"><i data-feather="box" class="align-self-center menu-icon"></i><span>Bookings</span></a>
        </li>

        <li>
            <a href="/super/calendar"><i data-feather="calendar" class="align-self-center menu-icon"></i><span>Calender</span></a>
        </li>
           
        <li>
            <a href="/super/reports"><i data-feather="calendar" class="align-self-center menu-icon"></i><span>Reports</span></a>
        </li>


        <li>
            <a href="/super/attributes"><i data-feather="box" class="align-self-center menu-icon"></i><span>Attributes</span></a>
        </li> 



        <li>
            <a href="javascript: void(0);"><i data-feather="lock" class="align-self-center menu-icon"></i><span>Rates</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="/super/rate-type"><i class="ti-control-record"></i>Rate Type</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/rate"><i class="ti-control-record"></i>Rate</a></li>

        </ul>
        </li> 
        
        
        <li>
            <a href="javascript: void(0);"><i data-feather="lock" class="align-self-center menu-icon"></i><span>Invoice</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="/super/invoice-create"><i class="ti-control-record"></i>Create Invoice</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/invoice"><i class="ti-control-record"></i>List Invoice</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/company"><i class="ti-control-record"></i>Company Profile</a></li>
            </ul>
        </li> 

       
        <li>
            <a href="javascript: void(0);"><i data-feather="lock" class="align-self-center menu-icon"></i><span>Tax</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
                <li class="nav-item"><a class="nav-link" href="/super/tax-type"><i class="ti-control-record"></i>Tax Type</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/tax"><i class="ti-control-record"></i>Tax</a></li>
            </ul>
        </li> 


        <li>
            <a href="javascript: void(0);"><i data-feather="grid" class="align-self-center menu-icon"></i><span>Amenities</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
               
                <li class="nav-item"><a class="nav-link" href="/super/amenities-type"><i class="ti-control-record"></i>Amenities Type</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/amenities"><i class="ti-control-record"></i>Amenities</a></li>


               
            </ul>
        </li> 
        
        
        <li>
            <a href="javascript: void(0);"><i data-feather="grid" class="align-self-center menu-icon"></i><span>Accounts</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">
               
                <li class="nav-item"><a class="nav-link" href="/super/discount-type"><i class="ti-control-record"></i>Discount Type</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/discounts"><i class="ti-control-record"></i>Discount</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/currency"><i class="ti-control-record"></i>Currency</a></li>
                
               
            </ul>
        </li>

           
        <li>
            <a href="javascript: void(0);"><i data-feather="grid" class="align-self-center menu-icon"></i><span>Partners</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
            <ul class="nav-second-level" aria-expanded="false">          
                <li class="nav-item"><a class="nav-link" href="/super/partners-category"><i class="ti-control-record"></i>Category</a></li>
                <li class="nav-item"><a class="nav-link" href="/super/partner"><i class="ti-control-record"></i>Partner</a></li> 
            </ul>
        </li> 



        <li>
            <a href="/super/subscription"><i data-feather="box" class="align-self-center menu-icon"></i><span>Subscription</span></a>
        </li>  
           
           

        <li>
        <a href="javascript: void(0);"><i data-feather="grid" class="align-self-center menu-icon"></i><span>Systems</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li class="nav-item"><a class="nav-link" href="/super/country"><i class="ti-control-record"></i>Country</a></li>
            <li class="nav-item"><a class="nav-link" href="/super/property-role"><i class="ti-control-record"></i>Property Role</a></li>
            <li class="nav-item"><a class="nav-link" href="/super/services"><i class="ti-control-record"></i> Services </a></li>
        </ul>
        </li> 



        <li>  
        <a href="javascript: void(0);"><i data-feather="grid" class="align-self-center menu-icon"></i><span>Rooms</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
        <ul class="nav-second-level" aria-expanded="false">
            <li class="nav-item"><a class="nav-link" href="/super/room-type"><i class="ti-control-record"></i>Room Type</a></li>
            <li class="nav-item"><a class="nav-link" href="/super/rooms"><i class="ti-control-record"></i>Rooms</a></li>
            <li class="nav-item"><a class="nav-link" href="/super/other-rooms"><i class="ti-control-record"></i>Other Rooms</a></li>
            <li class="nav-item"><a class="nav-link" href="/super/beds"><i class="ti-control-record"></i>Beds</a></li>
        </ul>
        </li> 
        
        
    </ul>

</div>