<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">
                
                <li>
                    <a href="/booking-engine/dashboard" class="waves-effect">
                        <i class="ri-dashboard-line"></i>
                        <span>Dashboard</span>
                    </a>
                </li>                      

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Accomodation</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                       
                        <li><a href="/booking-engine/rooms">Rooms</a></li>
                        <li><a href="/booking-engine/room-add">Add Rooms</a></li>
                        <li><a href="/booking-engine/extra-services">Extra Services</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/booking-engine/amenities" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Amenities</span>
                    </a>
                    
                </li>

                <li>
                    <a href="/booking-engine/categories" class="waves-effect">
                        <i class="ri-mail-send-line"></i>
                        <span>Categories</span>
                    </a>
                   
                </li>

                <li>
                    <a href="/booking-engine/tags" class=" waves-effect">
                        <i class="ri-artboard-2-line"></i>
                        <span>Tags</span>
                    </a>
                </li>

                <li>
                    <a href="/booking-engine/seasons" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Seasons</span>
                    </a>
                    
                </li>


                <li>
                    <a href="/booking-engine/rates" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Rates</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/booking-engine/services" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Services</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/booking-engine/tax" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Tax</span>
                    </a>
                    
                </li>
                <li>
                    <a href="/booking-engine/coupons" class="waves-effect">
                        <i class="ri-layout-3-line"></i>
                        <span>Coupons</span>
                    </a>
                    
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="ri-store-2-line"></i>
                        <span>Settings</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                       
                        <li><a href="/booking-engine/social-media">Social Media</a></li>
                        <li><a href="/booking-engine/contact-info">Contact Info</a></li>
                        <li><a href="/booking-engine/color-palette"> Color Palette </a></li>
                        <li><a href="/booking-engine/widgets"> Widgets </a></li>
                    </ul>
                </li>
                

               

                
            </ul>
        </div>
    </div>
</div>