<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Edit Rental</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/static/super/images/favicon.png">
        <link href="/static/super/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/super/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/custom.css" rel="stylesheet" type="text/css">
    </head>

    <body class="dark-sidenav">
        <div class="left-sidenav">
            {% include 'super/base/left_sidebar.html' %}
        </div>
        

        <div class="page-wrapper">
            <div class="topbar">            
                {% include 'super/base/top_nav.html' %}
        </div>
         
<div class="page-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <div class="page-title-box">
                  <div class="row">
                      <div class="col">
                          <h4 class="page-title">Edit Rental</h4>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/super/dashboard">Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="/super/rental">Rental</a></li>
                              <li class="breadcrumb-item active">Edit Rental</li>
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      <div class="row align-items-center">
                          <div class="col">                      
                              <h4 class="card-title">Rental Management</h4>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="row">
                        <div class="col-lg-2"></div>
                          <div class="col-lg-8">
                            <form method="POST" enctype="multipart/form-data" class="post-form" action="/super/rental-update/{{rental.id}}">  
                                {% csrf_token %}  
                            <div class="container">  
                            <div class="form-group row">  
                            <label class="col-sm-2 col-form-label">Name:</label>  
                            <div class="col-sm-10">  
                              <input id="rental_name" placeholder="Enter Name" name="rental_name" type="text" class="form-control" value="{{rental.rental_name}}">
                            </div>  
                          </div>  
                          <div class="form-group row">  
                            <label class="col-sm-2 col-form-label">Short Description:</label>  
                            <div class="col-sm-10">  
                              <textarea class="form-control" name="rental_short_description" id="editor"  rows="5">{{rental.rental_short_description}}</textarea>
                            </div>  
                          </div>
                          <div class="form-group row">  
                            <label class="col-sm-2 col-form-label"> Description:</label>  
                            <div class="col-sm-10">  
                              <textarea class="form-control" name="rental_description" id="editor" rows="5">{{rental.rental_description}}</textarea>
                            </div>  
                          </div>  
                          <div class="form-group row">  
                            <label class="col-sm-2 col-form-label">Cover Image:</label>  
                            <div class="col-sm-10">  
                              <input type="file" name="cover_image" class="form-control"  id="id_cover"> 
                              <br>
                              <img src="/media/{{rental.cover_image}}" height="40"> 
                            </div>  
                          </div>   
                        
                        <div class="form-group row">  
                          <label for="example-text-input-sm" class="col-sm-2 col-form-label text-right"></label>
                          <div class="col-sm-10">  
                          <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                      </div>  
                         
                          </div>  
                        </form> 
                      </div> 
                  </div> 
                </div> 
              </div> 
            </div> 
           </div> 
   </div> 
   {% include 'super/base/footer.html'%}
  </div> 
  
  <script src="/static/super/js/jquery.min.js"></script>
  <script src="/static/super/js/bootstrap.bundle.min.js"></script>
  <script src="/static/super/js/metismenu.min.js"></script>
  <script src="/static/super/js/waves.js"></script>
  <script src="/static/super/js/feather.min.js"></script>
  <script src="/static/super/js/simplebar.min.js"></script>
  <script src="/static/super/js/jquery-ui.min.js"></script>
  <script src="/static/super/js/moment.js"></script>
  <script src="/static/super/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="/static/super/js/app.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
  <script>
    var allEditors = document.querySelectorAll('#editor');
      for (var i = 0; i < allEditors.length; ++i) {
        ClassicEditor.create(allEditors[i]);
      }
  </script>
  <script>
    $(".alert-success").fadeTo(5000, 500).slideUp(500, function(){
        $(".alert-success").slideUp(500);
    });
  </script>
  


</body>

</html>                        