<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>  Rental Amenities </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/static/super/images/favicon.png">
        <link href="/static/super/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/jquery-ui.min.css" rel="stylesheet">
        <link href="/static/super/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/app.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/super/css/custom.css" rel="stylesheet" type="text/css">
    </head>

    <body class="dark-sidenav">
        <div class="left-sidenav">
            {% include 'super/base/left_sidebar.html' %}
        </div>
        

        <div class="page-wrapper">
            <div class="topbar">            
                {% include 'super/base/top_nav.html' %}
        </div>
         
<div class="page-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <div class="page-title-box">
                  <div class="row">
                      <div class="col">
                          <h4 class="page-title">Basic Information</h4>
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/super/dashboard">Dashboard</a></li>
                              <li class="breadcrumb-item"><a href="/super/rentals">Rental  </a></li>
                             
                          </ol>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                      <div class="row align-items-center">
                          <div class="col">                      
                              <h4 class="card-title">Rental Amenities </h4>
                          </div>
                      </div>
                  </div> 


                  <div class="card-body">
                      <div class="row">
                            <div class="col-lg-12">
                                <h5>Amenities</h5>
                                <p>Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard</p>
                                
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}   
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                                </div>
                                {% endfor %}
                                {%endif%}
                                <hr>
                            <form method="POST" enctype="multipart/form-data" class="post-form" action="/super/rental-amenities-update/{{rentalamenities.id}}">
                                {% csrf_token %}
                                
                                <div id="accordion" class="custom-accordion">
                                    {% for amntype in amenitiestype %}
                                    <div class="card mb-1 shadow-none">
                                        <a href="#collapseOne{{forloop.counter}}" class="text-dark collapsed" data-bs-toggle="collapse" aria-expanded="true"
                                            aria-controls="collapseOne{{forloop.counter}}">
                                            <div class="card-header" id="headingOne{{forloop.counter}}">
                                                <h6 class="m-0">
                                                    {{amntype.title}}
                                                    <i class="mdi mdi-minus float-right accor-plus-icon"></i>
                                                </h6>
                                            </div>
                                        </a>
                
                                        <div id="collapseOne{{forloop.counter}}" class="collapse" aria-labelledby="headingOne{{forloop.counter}}"
                                            data-bs-parent="#accordion">
                                            <div class="card-body">
                                                <ul class="card-body">
                                                  
                                                    {%for amenities in amenities %}
                                                    {% if amntype.id == amenities.amenities_type_id %}                                     
                                                       <li><input type="checkbox" name="amenities[]" class="form-check-input" value="{{amenities.title}}" {% if amenities.title in amentitle %} checked="checked" {% endif %}>{{amenities.title}}</li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                  <input type="submit" class="btn btn-primary" value="Save">
                              </form>
                            </div> 
                        </div> 
                      </div> 
                    </div> 
                  </div> 
                </div> 
              </div>              
            
   {% include 'super/base/footer.html'%}
  </div> 
  
  <script src="/static/super/js/jquery.min.js"></script>
  <script src="/static/users/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/super/js/metismenu.min.js"></script>
  <script src="/static/super/js/waves.js"></script>
  <script src="/static/super/js/feather.min.js"></script>
  <script src="/static/super/js/simplebar.min.js"></script>
  <script src="/static/super/js/jquery-ui.min.js"></script>
  <script src="/static/super/js/moment.js"></script>
  <script src="/static/super/plugins/daterangepicker/daterangepicker.js"></script>
  <script src="/static/super/js/app.js"></script>
    <script>
    $(".alert-success").fadeTo(3000, 500).slideUp(500, function(){
        $(".alert-success").slideUp(500);
    });
  </script>
  


</body>

</html>                        