<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tax Type</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="shortcut icon" href="/static/users/images/favicon.ico">

<link href="/static/users/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/static/users/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/users/css/custom.css" rel="stylesheet" type="text/css" />

                                

    </head>

    <body>
        <div id="layout-wrapper">
            {% include 'users/base/top_nav.html'%}
            {% include 'users/base/left_sidebar.html'%}
	
<div class="main-content">
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Tax Type</h4>
                  

                    <div class="page-title-right">
                         <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/users/dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tax Type</li>
                        </ol>
                        
                                      
                    </div>

                </div>
            </div>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success border-0" role="alert">{{message}}   
        </div>
        {% endfor %}
        {%endif%}

        <div class="row">
            <div class="col-12">
                <div class="card">   
                    <div class="pt-3 pr-2">
                            <a href="/users/tax-type-add" class="btn btn-success pull-right mb-2"><i class="mdi mdi-plus me-1"></i> Add New</a>
                    </div>                 
                    <div class="card-body">                                              
                         
                        <table id="datatable" class="table table-bordered dt-responsive nowrap"
                        style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
    <tr>  
        <th>SN</th>
        <th>ID</th>
        <th>Tax Name</th> 
        <th>Date</th> 
        <th>Actions</th>  
        
        
        
    </tr>  
    </thead>  
    <tbody>  
{% for tax in taxtype %}  
    <tr>  
        <td>{{forloop.counter}}</td>
        <td>{{tax.id}}</td>
        <td>{{tax.taxtype_name }}</td>  
        <td>{{tax.created_at}}7</td>  
        <td class="text-left">                                                       
            <a href="/users/tax-type-edit/{{ tax.id}}" class="me-3 text-primary" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Edit" aria-label="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
            <a href="/users/tax-type-delete/{{ tax.id}}"class="text-danger" onclick="return DelItem();"  data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Delete" aria-label="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
        </td>
        
        
    </tr>  
{% endfor %}  
    </tbody>  
</table>
</div>
</div>
</div>
</div>
</div>
</div>

{% include 'super/base/footer.html'%}
</div> 

<script src="/static/users/libs/jquery/jquery.min.js"></script>
<script src="/static/users/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/users/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/users/libs/simplebar/simplebar.min.js"></script>
<script src="/static/users/libs/node-waves/waves.min.js"></script>
<script src="/static/users/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/users/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/users/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/users/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<script src="/static/users/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/users/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="/static/users/js/pages/datatables.init.js"></script>
<script src="/static/users/js/app.js"></script>
<script>



    function DelItem() {
  
  
  
        if(!confirm("Are You Sure to delete this"))
  
  
  
        event.preventDefault();
  
  
  
    }
  
  
   </script>
   
</body>

</html> 
  