<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="shortcut icon" href="/static/agents/images/favicon.ico">
        {% include 'agents/base/header_css.html' %}

    </head>

    <body class="dark-sidenav">
        <div class="left-sidenav">
            {% include 'agents/base/left_sidebar.html' %}
        </div>
        

        <div class="page-wrapper">
            <div class="topbar">            
                {% include 'agents/base/top_nav.html' %}
            </div>
         
 