<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Color Palette</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="shortcut icon" href="/static/bookingengine/images/favicon.ico">

<link href="/static/bookingengine/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<script src="/static/bookingengine/libs/colorpicker/bootstrap-colorpicker.js"></script>
<link href="/static/bookingengine/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/css/custom.css" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/libs/colorpicker/bootstrap-colorpicker.css" rel="stylesheet" type="text/css" />


                                

    </head>

    <body>
        <div id="layout-wrapper">
            {% include 'bookingengine/base/top_nav.html'%}
            {% include 'bookingengine/base/left_sidebar.html'%}
       
		<div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0"> Color Palette</h4>
            
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/bookingengine/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active"> Color Palette</li>
                                    </ol>
                                </div>
            
                            </div>
                        </div>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}   
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {%endif%}
            
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body mt-5">
                                    
                                    <form method="post" enctype="multipart/form-data" class="post-form" action="/booking-engine/color-palette"> 
                                        {% csrf_token %} 

                                    <div class="col-lg-10">
                                    <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label ">Top Background Color<span class="strict">*</span></label>
                                    <div id="cp2" class="input-group">
                                    <input type="text" name="top_background_color" class="form-control input-lg txtimp" value="{{color.top_background_colour}}"  />
                                    <span class="input-group-append">
                                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                    </span>
                                    </div>    
                                    <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label ">Top Font Color<span class="strict">*</span></label>
                                    <div id="cp3" class="input-group">
                                    <input type="text" name="top_font_color" class="form-control input-lg txtimp" value="{{color.top_font_colour}}"/>
                                    <span class="input-group-append">
                                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                    </span>
                                    </div>  
                                    <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label ">Footer Background Color<span class="strict">*</span></label>
                                    <div id="cp4" class="input-group">
                                    <input type="text" name="footer_background_color" class="form-control input-lg txtimp" value="{{color.footer_background_colour}}"/>
                                    <span class="input-group-append">
                                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                    </span>
                                    </div>  
                                    <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label ">Footer Font Color<span class="strict">*</span></label>
                                    <div id="cp5" class="input-group">
                                    <input type="text" name="footer_font_color" class="form-control input-lg txtimp" value="{{color.footer_font_colour}}"/>
                                    <span class="input-group-append">
                                        <span class="input-group-text colorpicker-input-addon"><i></i></span>
                                    </span>
                                    </div>  
                                    </div>

                                     <div class="row mb-3">
                                        <label for="example-tel-input" class="col-sm-3 col-form-label "></label>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                                                    Submit
                                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div> 
                </div>
            
            
         
  {% include 'bookingengine/base/footer.html'%}
</div> 
</div>
<script src="/static/bookingengine/libs/dropzone/min/dropzone.min.js"></script>
<script src="/static/bookingengine/libs/jquery/jquery.min.js"></script>
<script src="/static/bookingengine/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/bookingengine/libs/colorpicker/bootstrap-colorpicker.js"></script>
<script src="/static/bookingengine/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/bookingengine/libs/simplebar/simplebar.min.js"></script>
<script src="/static/bookingengine/libs/node-waves/waves.min.js"></script>
<script src="/static/bookingengine/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/bookingengine/js/pages/datatables.init.js"></script>
<script src="/static/bookingengine/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/static/bookingengine/js/pages/form-element.init.js"></script>
<script src="/static/bookingengine/libs/tinymce/tinymce.min.js"></script>
<script src="/static/bookingengine/js/pages/form-editor.init.js"></script>
<script src="/static/bookingengine/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/static/bookingengine/libs/twitter-bootstrap-wizard/prettify.js"></script>
<script src="/static/bookingengine/libs/select2/js/select2.min.js"></script>
<script src="/static/bookingengine/js/pages/ecommerce--product.init.js"></script>
<script src="/static/bookingengine/js/app.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
<script>
  ClassicEditor
          .create( document.querySelector( '#elm1' ) );
</script>
<script>
    function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];
        if(file){
          var reader = new FileReader();
          reader.onload = function(){
              $("#previewImg").attr("src", reader.result);
          }
          reader.readAsDataURL(file);
        }
    }
</script>
<script>
    $(".alert-success").fadeTo(5000, 500).slideUp(500, function(){
        $(".alert-success").slideUp(500);
    });
</script>
<script>
    $(function () {
      $('#cp2').colorpicker();
    });
</script>
<script>
    $(function () {
      $('#cp3').colorpicker();
    });
</script>
<script>
    $(function () {
      $('#cp4').colorpicker();
    });
</script>
<script>
    $(function () {
      $('#cp5').colorpicker();
    });
</script>

</body>
</html>   
                   
               
          
                     
                         

                      