<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> Contact Info</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        
        <link rel="shortcut icon" href="/static/bookingengine/images/favicon.ico">

<link href="/static/bookingengine/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
<link href="/static/bookingengine/css/custom.css" rel="stylesheet" type="text/css" />


                                

    </head>

    <body>
        <div id="layout-wrapper">
            {% include 'bookingengine/base/top_nav.html'%}
            {% include 'bookingengine/base/left_sidebar.html'%}
       
		<div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0"> Contact Info</h4>
            
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/bookingengine/dashboard">Dashboard</a></li>
                                        <li class="breadcrumb-item active"> Contact Info</li>
                                    </ol>
                                </div>
            
                            </div>
                        </div>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}   
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {%endif%}
            
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body mt-5">
                                    
                                    <form method="post" enctype="multipart/form-data" class="post-form" action="/booking-engine/contact-info"> 
                                        {% csrf_token %} 

                                    <div class="col-lg-10">
                                    <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label text-right">Telephone<span class="strict">*</span></label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                id="room_name" name="telephone" value="{{contact.telephone }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label text-right">Logo<span class="strict">*</span></label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="file"
                                                id="room_name" name="logo" >
                                                <br>
                                                <img src ="media/{{contact.logo}}" height="40">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label text-right">Email<span class="strict">*</span></label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                id="twitter" name="email" value="{{contact.email}}" >
                                        </div>
                                    </div>
                                    <div class="row mb-3">  
                                        <label for="example-search-input" class="col-sm-3 col-form-label text-right"> ress:</label>  
                                        <div class="col-sm-9">  
                                          <textarea name="ress" class="form-control" id="editor">{{contact.ress}}</textarea>
                                        </div>  
                                      </div> 
                                      <div class="row mb-3">
                                        <label for="example-text-input" class="col-sm-3 col-form-label text-right">Copyright Name<span class="strict">*</span></label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text"
                                                id="room_name" name="copyright_name" value="{{contact.copyright_name }}">
                                        </div>
                                    </div>
                                    <div class="row mb-3">  
                                        <label for="example-tel-input" class="col-sm-3 col-form-label text-right">Status</label>
                                        <div class="col-sm-9">  
                                          <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="status" value="1" class="custom-control-input" {% if contact.status == 1 %} checked {% endif %}>
                                            <label class="custom-control-label" for="customRadio1">Active</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                          <input type="radio" id="customRadio2" name="status" value="0" class="custom-control-input" {% if contact.status == 0 %} checked {% endif %}>
                                          <label class="custom-control-label" for="customRadio2">InActive</label>
                                      </div>
                                        </div>
                                    </div> 

                                     <div class="row mb-3">
                                        <label for="example-tel-input" class="col-sm-3 col-form-label text-right"></label>
                                        <div class="col-sm-9">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light me-1">
                                                                    Submit
                                                                </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div> 
                </div>
            
            
         
  {% include 'bookingengine/base/footer.html'%}
</div> 
</div>
<script src="/static/bookingengine/libs/dropzone/min/dropzone.min.js"></script>
<script src="/static/bookingengine/libs/jquery/jquery.min.js"></script>
<script src="/static/bookingengine/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/bookingengine/libs/metismenu/metisMenu.min.js"></script>
<script src="/static/bookingengine/libs/simplebar/simplebar.min.js"></script>
<script src="/static/bookingengine/libs/node-waves/waves.min.js"></script>
<script src="/static/bookingengine/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="/static/bookingengine/js/pages/datatables.init.js"></script>
<script src="/static/bookingengine/libs/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="/static/bookingengine/js/pages/form-element.init.js"></script>
<script src="/static/bookingengine/libs/tinymce/tinymce.min.js"></script>
<script src="/static/bookingengine/js/pages/form-editor.init.js"></script>
<script src="/static/bookingengine/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
<script src="/static/bookingengine/libs/twitter-bootstrap-wizard/prettify.js"></script>
<script src="/static/bookingengine/libs/select2/js/select2.min.js"></script>
<script src="/static/bookingengine/js/pages/ecommerce--product.init.js"></script>
<script src="/static/bookingengine/js/app.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
<script>
  ClassicEditor
          .create( document.querySelector( '#editor' ) );
</script>
<script>
    function previewFile(input){
        var file = $("input[type=file]").get(0).files[0];
        if(file){
          var reader = new FileReader();
          reader.onload = function(){
              $("#previewImg").attr("src", reader.result);
          }
          reader.readAsDataURL(file);
        }
    }
</script>
<script>
    $(".alert-success").fadeTo(5000, 500).slideUp(500, function(){
        $(".alert-success").slideUp(500);
    });
  </script>
<script>

</body>
</html>   
                   
               
          
                     
                         

                      