<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Register</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link rel="shortcut icon" href="/static/bookingengine/images/favicon.ico">
        <link href="/static/bookingengine/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <link href="/static/bookingengine/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/bookingengine/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body class="auth-body-bg">
        <div class="home-btn d-none d-sm-block">
            <a href="https://www.ezbzrentals.com/" target="_blank"><i class="mdi mdi-home-variant h2 text-white"></i></a>
        </div>
        <div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
                            <div class="w-100">
                                <div class="row justify-content-center">
                                    <div class="col-lg-9">
                                        <div>
                                            <div class="text-center">
                                                <div>
                                                    <a href="index.html" class="logo"><img src="/static/bookingengine/images/logo-dark.png" height="20" alt="logo"></a>
                                                </div>
    
                                                <h4 class="font-size-18">Register account</h4>
                                                <p class="text-muted">Get your free EZBZ Rentals account now.</p>
                                            </div>
                                            {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">{{message}}   
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        </div>
                                            {% endfor %}
                                            {%endif%}


                                            <div class="p-2 mt-5">
                                                <form class="form-horizontal auth-form my-4" method="POST" action="/booking-engine/signup">  {% csrf_token %}

                                                    <div class="auth-form-group-custom mb-4">
                                                        <i class="ri-mail-line auti-custom-input-icon"></i>
                                                        <label for="useremail">Email</label>
                                                        <input type="email" class="form-control" name="email" placeholder="Enter your email">
                                                    </div>
                    
                                                    <div class="auth-form-group-custom mb-4">
                                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                        <label for="username">Username</label>
                                                        <input type="text" class="form-control" name="username" placeholder="Enter your username">
                                                    </div>
                            
                                                    <div class="auth-form-group-custom mb-4">
                                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                        <label for="userpassword">Password</label>
                                                        <input type="password" class="form-control" name="pass1" placeholder="Enter your password">
                                                    </div>
                                                    <div class="auth-form-group-custom mb-4">
                                                        <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                        <label for="userpassword"> Confirm Password</label>
                                                        <input type="password" class="form-control" name="pass2" placeholder="Confirm your password">
                                                    </div>
                            

                                                    <div class="text-center">
                                                        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
                                                    </div>

                                             
                                                </form>
                                            </div>

                                            <div class="mt-5 text-center">
                                                <p>Already have an account ? <a href="/booking-engine/signin" class="fw-medium text-primary"> Login</a> </p>
                                               <p>Copyright &copy; RZBZ Rental
                        <script>document.write(new Date().getFullYear())</script>. All Rights Reserved.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="authentication-bg position-relative">
                            <div class="bg-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <!-- JAVASCRIPT -->
        <script src="/static/bookingengine/libs/jquery/jquery.min.js"></script>
        <script src="/static/bookingengine/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/static/bookingengine/libs/metismenu/metisMenu.min.js"></script>
        <script src="/static/bookingengine/libs/simplebar/simplebar.min.js"></script>
        <script src="/static/bookingengine/libs/node-waves/waves.min.js"></script>
        <script src="/static/bookingengine/js/app.js"></script>
        <script>
            $(".alert-success").fadeTo(5000, 500).slideUp(500, function(){
                $(".alert-success").slideUp(500);
            });
          </script>


    </body>
</html>
